/poo/PooRelacionamento/build/
/poo/PooExercicios2/build/
/poo/PooProjetoFinal/nbproject/private/
/basico/Contagem/nbproject/private/
/poo/PooProjetoFinal/build/
/basico/Teste/nbproject/private/
/basico/Teste/build/
/basico/HelloWorld/nbproject/private/
/basico/HelloWorld/build/